xml/empresa.dtd

<!ELEMENT empresa (nombre,direccion,servicios,productos,contacto)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre categoria NMTOKEN #IMPLIED>
<!ELEMENT direccion (calle,ciudad,pais)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT servicios (servicio+)>
<!ELEMENT servicio (nombre,descripcion,descripcion2,imagen)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT productos (producto+)>
<!ELEMENT producto (nombre,descripcion,descripcion2,precio,imagen)>
<!ELEMENT descripcion2 (item+)>
<!ELEMENT item (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT contacto (nombre,email,mensaje)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>